_vcs_cp_internal.dat
csrc
dut.comp.log
inter.fsdb
inter.fsdb.ckp.1
inter.fsdb.ckp.2
inter.vpd
novas.conf
novas.rc
novas_dump.log
replicate*
seed
signal.rc
signal.tc
*.log
DVEfiles/
.inter.vpd.uvm
.DS_Store
.vcs_checkpoint*
urgReport/
snps_work/
t
target
ucli.key
vc_hdrs.h
vdCovLog/
verdiLog/
vericomLog/
vloganLog/
work.lib++/
libnz4w_r.soLog/